body {
   

    background-color: black;
}

.mainPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    padding-top: 10%;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    width: 100px;
    height: 500px;
    max-height: 500px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 80px;
    height: 40px;
    font-size: 16px;
}

#slider input{
    display: flex;
    justify-content: center;
    gap: 10px;
    
    width: 80px;
}
#sliderOutput {
    display: flex;
    justify-content: center;
    width: 80px;
}

#sketchPad {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width:  500px;
    background-color: aliceblue;
}



.horz {
    background-color: green;
    width: 100px;
    height: 100px;
}
.altHorz {
    background-color: blue;
    width: 100px;
    height: 100px;
}